/* Estilos generales de la página de empleados */
div {
  font-family: Arial, sans-serif;
  margin: 20px;
}

/* Estilos del input de búsqueda */
input[type="text"] {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(100% - 22px);
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* Estilos de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #bd0000;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilo de los botones */
.btn {
  background-color: #5ec2a8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #358d76;
}

.btn-primary {
  background-color: #5ec2a8;
}

.btn-primary:hover {
  background-color: #358d76;
}

/* Estilos del overlay del modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Asegúrate de que el overlay tenga un z-index alto */
}

/* Estilos del modal */
.modal {
  position: relative;
  width: 600px;
  max-width: 90%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Asegúrate de que el modal tenga un z-index mayor que el overlay */
}

/* Encabezado del modal */
.modal-header {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #333;
}

/* Contenido del modal */
.modal-content {
  margin-bottom: 20px;
}

/* Tabla del modal */
.modal-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.modal-table th,
.modal-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.modal-table th {
  background-color: #f4f4f4;
  color: #333;
}

.modal-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilo del botón de cerrar */
.modal-close-button {
  background-color: #5ec2a8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1em;
}

.modal-close-button:hover {
  background-color: #358d76;
}

/* Mensaje cuando no hay datos */
.no-data {
  text-align: center;
  color: #999;
  font-style: italic;
}


.date-picker-container {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.date-picker-container input[type="date"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.date-picker-container input[type="date"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.date-picker-container label {
  font-weight: bold;
  margin-right: 10px;
}

